@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  height: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  cursor: pointer;
  background: #072a36;
}
/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #185464;
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2589ac;
}

.u-transition-color {
  @apply transition-colors duration-300;
}

.u-text-overflow {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

body {
  @apply font-inter bg-primary-800 text-white leading-tight overflow-x-hidden;
}

h1 {
  @apply font-bold xl:text-85  lg:text-72 text-56 g-header;
}

h2 {
  @apply font-bold xl:text-52 lg:text-48 text-40 g-header;
}

.g-effect {
  background: radial-gradient(#136165a0 0.82%, rgba(3, 21, 33, 0) 70%);
}

.g-header {
  background: linear-gradient(40deg, #c0d4c9, #db9b1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g-button-text {
  background: linear-gradient(40deg, #2589ac, #db9b1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
