@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  cursor: pointer;
  background: #031521;
}
/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #afafaf41;
  border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acafb183;
}

.u-transition-color {
  @apply transition-colors duration-300;
}

.u-text-overflow {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}
* {
  @apply outline-none;
}
body {
  @apply font-inter bg-[#030C11] text-[#BDCCD8] leading-tight overflow-x-hidden box-border;
}

h1 {
  @apply font-bold xl:text-85  lg:text-72 text-56 g-header;
}

h2 {
  @apply font-bold xl:text-52 lg:text-48 text-40 g-header;
}

h3 {
  @apply font-bold xl:text-42 lg:text-36 text-32 g-header;
}

h4 {
  @apply font-bold xl:text-32 lg:text-30 text-28 g-header;
}

img {
  @apply max-w-none;
}

th {
  @apply font-bold;
}
th,
td {
  @apply u-text-overflow;
}

.g-effect {
  background: radial-gradient(#136165a0 0.82%, rgba(3, 21, 33, 0) 70%);
}

.g-header {
  background: linear-gradient(90deg, #faf5b0, #ddac3e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g-header-app {
  background: linear-gradient(40deg, #c0d4c9, #db9b1e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g-button-text {
  background: linear-gradient(90deg, #4194b6, #e2ad3a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g-box-back {
  background: linear-gradient(#031420, #07272d, #031420);
}

ul.rc-pagination {
  @apply w-full flex items-center justify-center;
}
ul.rc-pagination li {
  @apply border border-primary-200 rounded-4 text-primary-200 p-6 min-w-28 h-28 flex items-center justify-center cursor-pointer hover:text-primary-400 hover:border-primary-400;
}
ul.rc-pagination li.rc-pagination-item-active {
  @apply text-white bg-primary-200;
}

ul.rc-pagination li.rc-pagination-disabled {
  @apply cursor-not-allowed;
}
ul.rc-pagination li.rc-pagination-jump-next,
ul.rc-pagination li.rc-pagination-jump-prev {
  @apply border-transparent;
}
ul.rc-pagination li.rc-pagination-jump-next button::after,
ul.rc-pagination li.rc-pagination-jump-prev button::after {
  content: "\2022\2022\2022";
  display: block;
}

._1ckjpok3 {
  background: linear-gradient(#031420, #07272d, #031420) !important;
}
